@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');

.sits{
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    width: 100hw;
    justify-content: space-around;
    padding: 0 24px;
}

.sits>.unvailable,
.sits>.available,
.sits>.selected {
    width: 26px;
    height: 26px;
    background-color: #C3CFD9;
    border: 1px solid #808F9D;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 6px 3px;
}

.sits>.unvailable {
    background-color: #F7C52B;
    border: 1px solid #F7C52B;
}

.sits>.selected {
    background-color: #8DD7CF;
    border: 1px solid #45BDB0;
}

.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.ok {
    pointer-events: none;
}