@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.topBar {
    position: fixed;
    width: 100%;
    height: 67px;
    left: 0px;
    top: 0px;
    background-color: #C3CFD9;
    display: flex;
    align-items: center;
    justify-content: center;
}

.topBar>p {
    font-size: 34px;
    color: #E8833A;
}

.topSelect {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 67px auto 0 auto;
    height: 110px;
}

.topSelect>p {
    font-size: 24px;
    color: #293845;
}

.bodyMovies {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 25px 0 25px;
}

.posters {
    width: 145px;
    height: 209px;
    left: 30px;
    top: 169px;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    margin-bottom: 20px;
    padding: 5px;
}

.imgPoster {
    width: 100%;
    height: 100%;
}

.footer {
    position: fixed;
    width: 100%;
    height: 117px;
    left: 0px;
    bottom: 0px;
    background-color: #DFE6ED;
    border: 1px solid #9EADBA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 0 0 15px;
}

.days {
    height: 70px;
    padding: 25px;
}

.days>p {
    font-size: 20px;
    color: #293845;
    margin-bottom: 5px;
}

.showtime {
    display: flex;
    margin-top: 20px;
    width: 100%;
}

.time {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 83px;
    height: 43px;
    background-color: #E8833A;
    border-radius: 3px;
    margin-right: 10px;
    color: white;

}

.text-link {
    color: inherit;
    text-decoration: inherit;
}

.time:last-child {
    margin-bottom: 140px;
}

.imgFooter {
    position: absolute;
    bottom: 6px;
    left: 6px;
    width: 64px;
    height: 89px;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    padding: 8px;
}

.footer>p {
    margin-left: 85px;
    font-size: 26px;
}

.sits {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    width: 100hw;
    justify-content: space-around;
    padding: 0 24px;
}

.sits>.unvailable,
.sits>.available,
.sits>.selected {
    width: 26px;
    height: 26px;
    background-color: #C3CFD9;
    border: 1px solid #808F9D;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 6px 3px;
}

.sits>.unvailable {
    background-color: #F7C52B;
    border: 1px solid #F7C52B;
}

.sits>.selected {
    background-color: #8DD7CF;
    border: 1px solid #45BDB0;
}

.subtitle {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
}

.subtitle>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 12px;
}

.sitSelected {
    width: 25px;
    height: 25px;
    border-radius: 17px;
    background-color: #8DD7CF;
    border: 1px solid #45BDB0;
    margin-bottom: 8px;
}

.sitAvailable {
    width: 25px;
    height: 25px;
    border-radius: 17px;
    background-color: #C3CFD9;
    border: 1px solid #808F9D;
    margin-bottom: 8px;
}

.sitUnvailable {
    width: 25px;
    height: 25px;
    border-radius: 17px;
    background-color: #F7C52B;
    border: 1px solid #F7C52B;
    margin-bottom: 8px;
}

.forms {
    margin: 25px 35px 0 24px;
}

.forms p {
    font-size: 18px;
    margin: 10px 0;
}

.forms input {
    width: 100%;
    height: 50px;
    background: #FFFFFF;
    border: 1px solid #D5D5D5;
    border-radius: 3px;
    padding-left: 15px;
}

::placeholder {
    font-size: 18px;
    font-style: italic;
    color: #AFAFAF;
    padding-left: 15px;
}

.button {
    width: 225px;
    height: 42px;
    background: #E8833A;
    border-radius: 3px;
    margin: 15px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: white;
    margin-bottom: 130px;
}

.buttonBack {
    position: fixed;
    top: 25px;
    left: 15px;
    color: red;
}

.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}